.Skills_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 12%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.Skills_wrapper p{
  color: #fff;
  font-size: 15px;
}

.Skills_wrapper.visible {
  opacity: 1;
  transform: translateY(0);
}

.Skills_card_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  margin-top: 50px;
  gap: 30px;
}

.Skills_card {
  width: 85%;
  padding: 30px 25px;
  border-radius: 12px;
  background-color: #1b0f33;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #1b0f33;
  color: #fff;
  transition: transform 0.3s ease, background-color 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s forwards;
}

.Skills_card:hover {
  transform: scale(1.05);
  background-color: #2c1b4a;
}

.Skills_card_wrapper .Skills_card img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.Skills_card:hover img {
  transform: scale(1.1);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Media Queries */
@media screen and (max-width: 1400px) {
  .Skills_card_wrapper {
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
  }
}

@media screen and (max-width: 1100px) {
  .Skills_card_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .Skills_card_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .Skills_card_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
