.hero {
  display: flex;
  padding: 80px 0;
  justify-content: space-between;
  padding: 5% 12%;
  align-items: center;
  position: relative;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  transform: translateY(20px);
  opacity: 0;
  animation: slideInUp 1s forwards;
  animation-delay: 0.5s;
}

@keyframes slideInUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero:after {
  content: 'HI';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-size: 280px;
  font-weight: 600;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #8750f5;
  opacity: 0.1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: transparent;
  animation: textFade 2s forwards;
  animation-delay: 1s;
}

@keyframes textFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}

.content h3 {
  font-size: 2.5rem;
  font-weight: 500;
  animation: fadeInUp 0.8s ease-in-out;
}

.content h1 {
  font-size: 5rem;
  line-height: 5.5rem;
  font-weight: 600;
  margin-top: 20px;
  width: 80%;
  background: linear-gradient(to right, #8750f5 0%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeInUp 1s ease-in-out;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content p {
  font-size: 20px;
  width: 80%;
  margin: 20px 0;
  animation: fadeInUp 1s ease-in-out;
  animation-delay: 1s;
}

.heroImage {
  width: 45%;
  height: 100%;
  border: 2px solid #8750f5;
  border-radius: 40px;
  transform: 0.6s;
  overflow: hidden;
  position: relative;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
  animation-delay: 1.2s;
}

.heroImage img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  transition: transform 0.5s;
}

.heroImage:after {
  content: 'banty';
  position: absolute;
  top: 0;
  left: 0;
  color: #dedede;
  height: 100%;
  width: 100%;
  background-color: #070609d7;
  border-radius: 40px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 10px;
  transform: rotate(120deg);
  transform-origin: left bottom;
  transition: transform 1s ease-in-out;
  border: 2px solid #8750f5;
  color: #fff;
}

.heroImage:hover img {
  transform: scale(1.05);
}

.heroImage:hover:after {
  transform: rotate(0deg);
}

.heroImage:hover {
  transform: translateY(-8px) scale(1.02);
}

.content:before,
.content:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  background-color: #7e34f4;
  background: linear-gradient(260deg, #7e34f4 0%, rgba(115, 67, 210, 0) 100%);
  z-index: -1;
  opacity: 0.4;
  filter: blur(120px);
}

.content:after {
  bottom: 60%;
  right: 80%;
}

.home_btn {
  display: flex;
  width: 80%;
  gap: 40px;
  animation: fadeInUp 1s ease-in-out;
  animation-delay: 1.5s;
}

.social {
  display: flex;
  gap: 12px;
  color: #fff;
}

.social i {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s, transform 0.3s;
}

.social:hover i:not(:hover) {
  box-shadow: 0 8px 16px #8750f5;
}

.social:hover i {
  box-shadow: 0 8px 16px #fff;
  transform: translateY(-5px);
}

@media screen and (max-width: 1400px) {
  .heroImage {
    width: 55%;
  }

  .content h1 {
    font-size: 4rem;
    line-height: 5rem;
  }.hero {
    display: flex;
    padding: 80px 0;
    justify-content: space-between;
    padding: 5% 12%;
    align-items: center;
    position: relative;
    opacity: 0; /* Initially hidden */
    transition: opacity 1.5s ease-in-out;
  }
  
  .animate {
    animation: fadeIn 1.5s forwards; /* Trigger fadeIn animation */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    transform: translateY(20px);
    opacity: 0;
    animation: slideInUp 1s forwards;
    animation-delay: 0.5s;
  }
  
  @keyframes slideInUp {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .hero:after {
    content: 'HI';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-size: 280px;
    font-weight: 600;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #8750f5;
    opacity: 0.1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: transparent;
    animation: textFade 2s forwards;
    animation-delay: 1s;
  }
  
  @keyframes textFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.1;
    }
  }
  
  .content h3 {
    font-size: 2.5rem;
    font-weight: 500;
    animation: fadeInUp 0.8s ease-in-out;
  }
  
  .content h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 600;
    margin-top: 20px;
    width: 80%;
    background: linear-gradient(to right, #8750f5 0%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInUp 1s ease-in-out;
    animation-delay: 0.5s;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .content p {
    font-size: 20px;
    width: 80%;
    margin: 20px 0;
    animation: fadeInUp 1s ease-in-out;
    animation-delay: 1s;
  }
  
  .heroImage {
    width: 45%;
    height: 100%;
    border: 2px solid #8750f5;
    border-radius: 40px;
    transform: 0.6s;
    overflow: hidden;
    position: relative;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    animation-delay: 1s;
  }
  
  .heroImage img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: transform 0.5s;
  }
  
  .heroImage:after {
    content: 'banty';
    position: absolute;
    top: 0;
    left: 0;
    color: #dedede;
    height: 100%;
    width: 100%;
    background-color: #070609d7;
    border-radius: 40px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
    transform: rotate(120deg);
    transform-origin: left bottom;
    transition: transform 1s ease-in-out;
    border: 2px solid #8750f5;
    color: #fff;
  }
  
  .heroImage:hover img {
    transform: scale(1.05);
  }
  
  .heroImage:hover:after {
    transform: rotate(0deg);
  }
  
  .heroImage:hover {
    transform: translateY(-8px) scale(1.02);
  }
  
  .content:before,
  .content:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background-color: #7e34f4;
    background: linear-gradient(260deg, #7e34f4 0%, rgba(115, 67, 210, 0) 100%);
    z-index: -1;
    opacity: 0.4;
    filter: blur(120px);
  }
  
  .content:after {
    bottom: 60%;
    right: 80%;
  }
  
  .home_btn {
    display: flex;
    width: 80%;
    gap: 40px;
    animation: fadeInUp 1s ease-in-out;
    animation-delay: 1s;
  }
  
  .social {
    display: flex;
    gap: 12px;
    color: #fff;
  }
  
  .social i {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .social:hover i:not(:hover) {
    box-shadow: 0 8px 16px #8750f5;
  }
  
  .social:hover i {
    box-shadow: 0 8px 16px #fff;
    transform: translateY(-5px);
  }
  
  @media screen and (max-width: 1400px) {
    .heroImage {
      width: 55%;
    }
  
    .content h1 {
      font-size: 4rem;
      line-height: 5rem;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .content h1 {
      font-size: 3rem;
      line-height: 4rem;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .hero {
      flex-direction: column;
    }
  
    .heroImage {
      margin-top: 50px;
      width:80%;
    }
  
    .content p {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .content p {
      font-size: 15px;
    }
  
    .content h1 {
      width: 100%;
    }
  
    .home_btn {
      flex-direction: column;
      width: 100%;
    }
  }
  
  
}

@media screen and (max-width: 1200px) {
  .content h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
  }

  .heroImage {
    margin-top: 50px;
    width: 80%;
  }

  .content p {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content p {
    font-size: 15px;
  }

  .content h1 {
    width: 100%;
  }

  .home_btn {
    flex-direction: column;
    width: 100%;
  }
}
