.sliderContainer {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}


.card {
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: #190e2d;
  border: 2px solid #190e2d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.details {
  color: #8750f5;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.description {
  font-size: 1rem;
  color: #0ef;
  margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sliderContainer{
    padding: 40px;
  }
  .card {
    padding: 15px;
  }

  .title {
    font-size: 1.25rem;
  }

}
