.aboutMe{
  color: #fff;
  font-size: 45px;
  text-align: center;
  font-weight: 600;
  background: linear-gradient(to right,#8750f5 0%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about{
  display: flex;
  padding: 80px 0;
  justify-content: space-between;
  padding: 5% 12%;
  align-items: center;
  position: relative;
}

.aboutImage{
  width: 45%;
  height: 100%;
  border: 2px solid #8750f5;
  border-radius: 40px;
  transform: .6s;
  overflow: hidden;
  position: relative;
}

.aboutImage img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.aboutContent{
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

.aboutContent h3{
  font-size: 2.5rem;
  font-weight: 500;
}

.aboutContent p{
  font-size: 20px;
  width: 80%;
  margin: 20px 0;
}

.aboutBtn{
  display: flex;
  width: 80%;
  gap: 40px;
}

@media screen and (max-width: 1400px) {
  .aboutImage{
    width: 55%;
  }

  .aboutContent h3{
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .aboutContent h3{
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 1024px){


  .aboutImage{
    margin-top: 50px;
    width: 50%;
  }

  .aboutContent p{
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .aboutImage{
    flex-direction: column;
  }
  .aboutContent h3{
    width: 100%;
  }

  .aboutBtn{
    width: 100%;
  }
}

